#body{
    background-color: white;
}
#game{
    background-color: transparent;
    border: #777 solid 1px;
    position: absolute;
    left: 10%; top: 10%;
    width: 500px;
    height: 500px;
}
.player, #target, .obstacle, .free_rectangle, .rectangle_chemin{
    position: absolute;
} 
.free_rectangle{
    z-index: 0;
}
.obstacle{
    z-index: 1;
}
#target{
    z-index: 2;
}
.player{
    z-index: 3;
}
#field_of_view{
    transform: translate(-25%, -25%);
}